{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'nasa/css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'nasa/css/main_adaptive.css' %}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>NASA</title>
</head>
<body>
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg" >
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"\
                aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <img src="{% static '/nasa/icons/menu.svg' %}"> 
                    </span>
                </button>
                <img src="{% static '/nasa/logo/logo_nasa.svg' %}" id="logo">
                <div class="collapse navbar-collapse" id="navContent">
                    <ul class="navbar-nav ml-auto mr-auto mb-3 mb-lg-0">
                        <li class="nav-item">
                            <a href="#" class="nav-link white-montserrat">Преимущества</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link white-montserrat">Фотографии</a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-danger white-montserrat" id="header-button" type="submit"> 
                Вход
                </button>
            </div>
          </nav>
    </header>
    <div class="container first_container">
        <div class="promo">
            <h1 id="h1-promo">Космическое агенство</h1>
            <p class="promo_text text-md">Национальное управление по аэронавтике и исследованию космического пространства — ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.</p>
        </div>
    </div>
    <div class="container second_container">
        <div class="benefits-block row">
            <div class="col-md-6 ">
                <img src="{% static 'nasa/icons/fa6-solid_shuttle-space.svg' %}" class="mb-25 mt-25" alt="">
                <h3 class="h3-icon-text mb-25">Спейс шаттлы — пилотируемые корабли</h3>
            </div>
            <div class="col-md-6 ">
                <img src="{% static 'nasa/icons/ion_telescope.svg' %}" class="mb-25 mt-25" alt="">
                <h3 class="h3-icon-text mb-25">Лучшее телескопическое оборудование</h3>
            </div>
            <div class="col-md-6 ">
                <img src="{% static 'nasa/icons/bi_moon-stars-fill.svg' %}" class="mb-25 mt-25"alt="">
                <h3 class="h3-icon-text mb-25">Целимся на Луну и Марс</h3>
            </div>
            <div class="col-md-6 ">
                <img src="{% static 'nasa/icons/bxs_medal.svg' %}" class="mb-25 mt-25" alt="">
                <h3 class="h3-icon-text mb-25">Золотая медаль по научным исследованиям</h3>
            </div>
        </div>
        <img class="benefits-block-photo order-md-5" src="{% static 'nasa/other/some_photo.svg' %}" width="450px" height="450" alt="">
    </div>
    <div class="container thrid_container" >
        <div class="container_slider">
            <h1 class="slider_h1">Фотографии</h1>
            <div class="slider-for slider_main">
                {% for slider_object in slider_objects %}
                    <img src="{{ slider_object.image.url }}" class="slider_rounded" alt="">
                {% endfor %}
            </div>
            <div class="slider-nav">
                {% for slider_object in slider_objects %}
                    <img src="{{ slider_object.image.url }}" class="slide_clipped slider_thumbnails">
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="{% static 'nasa/js/slider.js' %}"></script>

</body>
</html>